body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

label {
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    display: block;
    width: 23px;
    height: 23px;
    border: 3px solid #10324E;
    border-radius: 50%;
    margin: 0px;
    padding: 2px;
    cursor: pointer;
}
p {
    color: #10324E;
}

input[type=checkbox] {
    display: none;
}

g {
    cursor: pointer;
}

.m100 {
    margin-top: 100px;
}

.map-title {
    font-weight: bold;
    line-height: 1.3em;
    text-align: right;
}

.map-content {
    border: 2px solid #D9DADA;
    border-radius: 10px;
    overflow-y:scroll;
    height: 620px;
    margin-bottom: 20px;
}


.event-info {
    display: flex;  
}
.event-info p {
    padding-right: 15px;
}

.event-info span {
    color: #89B225;
}
.form-checkbox {
    margin-bottom: 15px;
}




.event-content p {    
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


.form-checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.form-checkbox-item p {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;    
    margin: 0px;
    padding: 0px;
    padding-left: 7px;
    font-size: 13px;
}

.active-checkbox {
    box-shadow: 0 0 0 3px #10324E;
    background-color: #89B225;
    border: 3px solid white;
}

.map-settings {
    display: flex;
}

.calendari {
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;
}
.calendar {
    margin-left: 10px;
}

.calendar input {
    display: none;
}

.event-item {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.event-img {
    text-align: center;
}

.event-img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: url("img.jpeg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.event-price {
    right: 30px;
    top: 30px;
    font-weight: 700;
    color: #10324E;
}
.event-title p {
    padding-top: 10px;
    color: #89B225;
}

.area {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    fill: #89B225 !important;
    cursor: pointer;
}

.text {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    fill: #ffffff !important;
    cursor: pointer;
}


.active-area {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    fill: #89B225 !important;
    cursor: pointer;
}

.active-text {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    fill: #ffffff !important;
    cursor: pointer;
}


::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:6px;
    height:0px;
    }
    
    ::-webkit-scrollbar-track {
    background-color:#EBECEC;
    border-radius: 5px;
    box-shadow: none;
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#103454;
    box-shadow:0px 1px 1px #fff inset;
    background-position:center;
    background-repeat:no-repeat;
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:7px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 11px;    
}


.disabled {
    pointer-events: none;
    opacity: 0.7;
    background: #89B225;
}

.not-found-item {
    margin-top: 20px;;
    text-align: center;    
}

